:root {
   --dot-amount: 4;
   --dot-max-size: 400px;
   --dot-size: 2.5em;
}

.dots-container {
   display: grid;
   grid-template-columns: repeat(var(--dot-amount), var(--dot-size));
   align-items: flex-end;
   justify-content: space-between;
   width: var(--dot-max-size);
   opacity: 80%;
   transition: opacity var(--transition-quick);
}

.dots-container:hover,
.dots-container:focus {
   opacity: 100%;
}

.dot {
   display: grid;
   grid-template-columns: var(--dot-size) 1fr;
   overflow: hidden;
   min-width: var(--dot-size);
   max-width: var(--dot-size);
   min-height: var(--dot-size);
   max-height: var(--dot-size);
   border-radius: calc(var(--dot-size) / 2);
   background-color: var(--bg-normal);
   transition: max-width var(--transition-normal),
      max-height var(--transition-normal);
}

.dot .dot-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
}

.dot .dot-content {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   box-sizing: border-box;
   width: 100%;
   min-width: var(--dot-size);
   min-height: var(--dot-size);
   border: solid var(--bg-normal) 0.25em;
   border-radius: calc(var(--dot-size) / 2);
   background-color: var(--bg-dark);
}

.dot.extended {
   z-index: 10;
   grid-area: 1 / 1 / 1 / calc(var(--dot-amount) + 1);
   margin-bottom: calc(var(--dot-size) * -1);
}

/* Wide dots */
.dot.wide .dot-content {
   max-height: var(--dot-size);
}

.dot.wide.extended,
.dot.full.extended {
   max-width: 100%;
}

/* Tall \ Full dots */
.dot.tall,
.dot.full {
   grid-template-rows: var(--dot-size) 1fr;
   grid-template-columns: unset;
}

.dot.tall .dot-content {
   max-width: var(--dot-size);
}

.dot.tall .dot-content,
.dot.fall .dot-content {
   overflow-y: auto;
}

.dot.tall.extended,
.dot.full.extended {
   max-height: calc(var(--dot-max-size) * 1.5);
}
