:root {
   --dot-amount: 4;
   --dot-size: 2.5em;
   --dot-inactive-opacity: 80%;
   --dot-spacing: calc((100% / (var(--dot-amount) - 1)));
}

.dots-container {
   position: relative;
   display: flex;
   align-items: flex-end;
   width: 100%;
   height: 100%;
   opacity: var(--dot-inactive-opacity);
   transition: opacity var(--transition-quick);
}

.dots-container:hover,
.dots-container:focus {
   opacity: 100%;
}

.dot {
   position: absolute;
   z-index: 0;
   display: grid;
   grid-template-columns: var(--dot-size) 1fr;
   overflow: hidden;
   width: var(--dot-size);
   height: var(--dot-size);
   border-radius: calc(var(--dot-size) / 2);
   background-color: var(--bg-normal);
   transition: left var(--transition-normal), width var(--transition-normal),
      height var(--transition-normal), z-index var(--transition-normal);
   animation: dot-spawn 1s ease 0s forwards;
}

@keyframes dot-spawn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.dot:nth-child(2) {
   left: calc(
      var(--dot-spacing) * 1 - var(--dot-size) * (1 / (var(--dot-amount) - 1))
   );
}

.dot:nth-child(3) {
   left: calc(
      var(--dot-spacing) * 2 - var(--dot-size) * (2 / (var(--dot-amount) - 1))
   );
}

.dot:nth-child(4) {
   left: calc(
      var(--dot-spacing) * 3 - var(--dot-size) * (3 / (var(--dot-amount) - 1))
   );
}

.dot:nth-child(5) {
   left: calc(
      var(--dot-spacing) * 4 - var(--dot-size) * (4 / (var(--dot-amount) - 1))
   );
}

.dot:nth-child(6) {
   left: calc(
      var(--dot-spacing) * 5 - var(--dot-size) * (5 / (var(--dot-amount) - 1))
   );
}

.dot:nth-child(7) {
   left: calc(
      var(--dot-spacing) * 6 - var(--dot-size) * (6 / (var(--dot-amount) - 1))
   );
}

.dot:nth-child(8) {
   left: calc(
      var(--dot-spacing) * 7 - var(--dot-size) * (7 / (var(--dot-amount) - 1))
   );
}

.dot .dot-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--text-light);
}

.dot .dot-content {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   box-sizing: border-box;
   width: 100%;
   min-width: var(--dot-size);
   min-height: var(--dot-size);
   border: solid var(--bg-normal) 0.25em;
   border-radius: calc(var(--dot-size) / 2);
   background-color: var(--bg-dark);
}

.dot.extended {
   right: 0;
   left: 0;
   z-index: 10;
   width: 100%;
}

/* Wide dots */
.dot.wide .dot-content {
   max-height: var(--dot-size);
}

/* Tall \ Full dots */
.dot.tall,
.dot.full {
   grid-template-rows: var(--dot-size) 1fr;
   grid-template-columns: unset;
}

.dot.tall .dot-content {
   max-width: var(--dot-size);
}

.dot.tall .dot-content,
.dot.full .dot-content {
   overflow-y: auto;
}

.dot.tall.extended,
.dot.full.extended {
   grid-template-rows: 1fr var(--dot-size);
   height: 100%;
}

.dot.tall.extended .dot-btn,
.dot.full.extended .dot-btn {
   order: 1;
}
