.dots {
   --dot-max-size: 25em;
   --dot-size: 3em;

   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   width: var(--dot-max-size);
   opacity: 80%;
   transition: opacity var(--transition-quick);
}

.dots:hover,
.dots:focus {
   opacity: 100%;
}

.dot {
   display: flex;
   flex-grow: 1;
   flex-wrap: nowrap;
   align-items: center;
   overflow: hidden;
   min-width: var(--dot-size);
   max-width: var(--dot-size);
   min-height: var(--dot-size);
   max-height: var(--dot-size);
   margin: 0.1em;
   border-radius: calc(var(--dot-size) / 2);
   background-color: var(--bg-normal);
   transition:
 max-width var(--transition-normal),
      max-height var(--transition-normal);
}

.dot .dot-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--dot-size);
   min-width: var(--dot-size);
   height: var(--dot-size);
   min-height: var(--dot-size);
   color: #ffffff;
}

.dot .dot-content {
   display: flex;
   flex-grow: 1;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   box-sizing: border-box;
   width: 100%;
   min-width: var(--dot-size);
   min-height: var(--dot-size);
   border: solid var(--bg-normal) 0.25em;
   border-radius: calc(var(--dot-size) / 2);
   background-color: var(--bg-dark);
}

.dot.wide .dot-content {
   max-height: var(--dot-size);
}

.dot.tall .dot-content {
   max-width: var(--dot-size);
}

.dot.tall,
.dot.full {
   flex-direction: column-reverse;
}

.dot.wide.extended,
.dot.full.extended {
   max-width: 100%;
}

.dot.tall.extended,
.dot.full.extended {
   max-height: calc(var(--dot-max-size) + 5em);
}
