#dots-container {
  --dot-container-width: 25em;
  --dot-size: 2.5em;
  width: var(--dot-container-width);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0.8;
  transition: opacity var(--transition-quick);
}

#dots-container:hover,
#dots-container:focus {
  opacity: 1;
}

.dot {
  margin: 0.1em;
  background-color: var(--bg-normal);
  border-radius: var(--dot-size);
  min-width: var(--dot-size);
  width: var(--dot-size);
  height: var(--dot-size);
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: width var(--transition-normal), height var(--transition-normal);
}

.dot .dot-btn {
  margin: 0.05em;
  padding: calc(var(--dot-size) / 4);
}

.dot .dot-content {
  background-color: var(--bg-dark);
  border-radius: var(--dot-size);
  box-sizing: border-box;
  border: solid var(--bg-normal) 0.25em;
  display: none;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  padding: 0 0.5em;
}

.dot .dot-content .input {
  margin: 0 -0.5em;
}

.dot-open-tall {
  width: var(--dot-container-width);
  height: calc(var(--dot-container-width) * 1.25);
}

.dot-open-wide {
  width: var(--dot-container-width);
}

.dot-open-tall .dot-content,
.dot-open-wide .dot-content {
  display: flex;
}
